{% extends 'index.html' %} {% block navbar %}

<style>
  .todo-item-container {
    display: flex;
    flex-direction: column;
    width: 6/8;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .todo-item-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
</style>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Todo Application</a>
    {%if user.is_authenticated %}
    <div class="d-flex">
      <a class="btn me-3" href="#"> {{user.first_name}} </a>
      <a class="btn btn-outline-success" href="accounts/logout"> Logout </a>
    </div>
    {% else %}
    <div class="d-flex">
      <a class="btn btn-outline-success me-3" href="accounts/register">
        Register
      </a>
      <a class="btn btn-outline-success" href="accounts/login"> Login </a>
    </div>
    {%endif%}
  </div>
</nav>
{% endblock %} {% block content %} {%if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="todo-form">
        <form id="todoForm" action="addtodo" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="new_todo"
              name="name"
              placeholder="Add a new task"
              required
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
      <div id="todoList">
        {% for todo in todos %}
        <div class="todo-item-container">
          <form method="POST" action="edit/{{todo.id}}">
            {% csrf_token %}
            <input
              type="text"
              name="name"
              value="{{ todo.name }}"
              class="form-control"
            />
            <div class="todo-item-buttons">
              <button type="submit" class="btn btn-outline-primary">
                Save
              </button>
              <a
                class="btn btn-outline-danger"
                href="delete/{{ todo.id }}"
                method="DELETE"
              >
                Delete
              </a>
            </div>
          </form>
        </div>
        {% endfor %}
        <!-- Todo items will be added here dynamically -->
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <h1 class="catchphrase">Get Things Done, One Task at a Time</h1>
      <p class="lead">
        Effortlessly organize your life and boost your productivity with our
        intuitive task manager.
      </p>
    </div>
  </div>
</div>
{%endif%} {% endblock %} {%block login%} {%endblock%}
